<h2>Podcast</h2>
<hr>
<div class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" [(ngModel)]="nombreBuscado"  type="text" placeholder="Buscar">
  <button (click)="buscarXNombre()"
  class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
</div>
<div class="row">
  <div class="col-sm-3 " *ngFor="let listaPotcast of podcast">
    <div class="card">
      <img [src]="listaPotcast?.['im:image'][0].label" class="card-img-top imagen img-fluid mx-auto d-block" alt="...">
      <div class="card-body ">
        <h4 class="card-title ">{{listaPotcast.title.label}}</h4>
        <h6 class="card-title ">Autor: {{listaPotcast?.['im:artist'].label}}</h6>
      </div>
    </div>
  </div>
</div>
